* {
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.wrapper a {
  color: #000;
  text-decoration: none;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7vw;
  width: 85vw;
}

.wrapper .header .logo {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

.wrapper .header .headerLinks .headerLink {
  font-size: 20px;
  margin-right: 3vw;
}

.wrapper .header .headerLinks .headerLink:last-child {
  margin-right: 0;
}

.wrapper .header .userIcon .userIcons {
  cursor: pointer;
}

.wrapper .header .userIcon .userItems {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  left: 88vw;
  z-index: 5;
  background: #fff;
  -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.251);
          box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.251);
  padding: 2vh 2vw;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.wrapper .header .userIcon .userItems .userItem {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 2vh;
}

.wrapper .header .userIcon .userItems .userItem:last-child {
  margin-bottom: 0;
}

.wrapper .header .userIcon .active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25vw)[3];
      grid-template-columns: repeat(3, 25vw);
  gap: 8vh 10vw;
  margin-top: 14vh;
  padding: 0 2vw;
}

.wrapper .content .portfolioItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 25vw;
  height: 29vh;
  background: #ffff;
  -webkit-box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: hidden;
}

.wrapper .content .portfolioItems .portfolioDescription {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content .portfolioItems .portfolioDescription .portfolioText {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3vh;
}

.wrapper .content .portfolioItems .portfolioDescription .portfolioReview {
  font-size: 16px;
  width: 13vw;
}

.wrapper .content .portfolioImg {
  width: 25vw;
  height: 29vh;
  opacity: 0;
  -webkit-transform: translateX(-25vw);
          transform: translateX(-25vw);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .content .portfolioDescription:hover .portfolioImg,
.wrapper .content .portfolioItems:hover .portfolioImg {
  position: relative;
  z-index: 20;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=style.css.map */